In [11]:
from datetime import datetime
from datetime import timedelta

# Задание 1

In [2]:
np1 = 'Wednesday, October 2, 2002'
np2 = 'Friday, 11.10.13'
np3 = 'Thursday, 18 August 1977'

In [3]:
np1_date = datetime.strptime(np1, '%A, %B %d, %Y')
print(np1_date)
np2_date = datetime.strptime(np2, '%A, %d.%m.%y')
print(np2_date)
np3_date = datetime.strptime(np3, '%A, %d %B %Y')
print(np3_date)

2002-10-02 00:00:00
2013-10-11 00:00:00
1977-08-18 00:00:00

# Задание 2

In [4]:
stream = ['2018-04-02', '2018-02-29', '2018-19-02']

In [5]:
def date_correct(dates):
    res = []
    for dt in dates:
        try:
            datetime.strptime(dt, '%Y-%m-%d')
            res.append(True)
        except:
            res.append(False)
    return res

In [6]:
date_correct(stream)

[True, False, False]

# Задание 3

In [28]:
def date_range(start_date, end_date):
    dr = []
    
    try:
        start_date = datetime.strptime(start_date, '%Y-%m-%d')
        end_date = datetime.strptime(end_date, '%Y-%m-%d')
    except:
        return []
    
    cur_date = start_date
    while cur_date <= end_date:
        dr.append(cur_date)
        cur_date += timedelta(days = 1)
    return dr

In [30]:
date_range('2024-07-01', '2024-07-05')

[datetime.datetime(2024, 7, 1, 0, 0),
 datetime.datetime(2024, 7, 2, 0, 0),
 datetime.datetime(2024, 7, 3, 0, 0),
 datetime.datetime(2024, 7, 4, 0, 0),
 datetime.datetime(2024, 7, 5, 0, 0)]

# Задание 4

In [32]:
DEFAULT_USER_COUNT = 3

def delete_and_return_last_user(region, default_list=['A100', 'A101', 'A102']):
    '''
    Удаляет из списка default_list последнего пользователя
    и возвращает ID нового последнего пользователя.
    '''
    element_to_delete = default_list[-1]
    default_list.remove(element_to_delete)

    return default_list[DEFAULT_USER_COUNT-2]

In [33]:
delete_and_return_last_user(1)

'A101'

In [34]:
delete_and_return_last_user(1)

IndexError: list index out of range

1. Ошибка "List index out of range" означает, что значение индекса элемента списка лежит вне рамок диапазона индексов этого списка;
2. Результатом работы функции всегда является элемент списка default_list с индексом 1 (второй по порядку элемент списка). При первом запуске функции удаляется последний элемент списка и остается список из двух значений. Выводится второе. Про повторном запуске функции удаляется еще один последний элемент списка и в списке остается всего одно значение. Соответственно, при попытке возврата второго элемента списка выводится ошибка, т.к. второго элемента уже не существует.